// Use sass:color for color adjust
@use "sass:color";

//// COLORS
//// --------------------------------------------------------------------------

	$color-01: #ffffff; // base white: for autocomplete and text on dark background (slideout header)
	$color-02: #ffffff; // lighter gray: active term background, dropdown, checkboxes
	$color-03: #ebebeb; // light gray: borders for autocomplete, dropdown, checkboxes
	$color-04: color.adjust($color-03, $lightness: -5%); // dark gray: active border for checkboxes, palette, etc.
	$color-05: #555555; // darkest gray: main font color for p, div, and a tags
	$color-06: #848484; // dark gray: msrp on pricing
	$color-07: #222222; // alt color: for headers
	$color-08: #222222; // alt color 2: for active selections such as dropdown, facets, buttons, etc.
	$color-09: #111111; // custom color
	$color-10: false; // custom color

//// FONTS
//// --------------------------------------------------------------------------

	$font-family-01: 'Poppins', Helvetica, Arial; // main font family: used for most text elements
	$font-family-02: 'Lora', 'Times New Roman', serif; // header font family: used in header elements
	$font-weight-01: 600; // main font weight: used for things like bold text and active selections
	$font-weight-02: 300; // header font weight: used in header elements
	$font-style: italic; // font style: can be used in headers
	$font-transform: false; // font transform: can be used in headers 

//// ICONS
//// --------------------------------------------------------------------------
//// Gallery located here - https://athoscommerce.github.io/snap/packages/snap-preact/components/docs/?path=/story/atoms-icon--gallery

	$icon-arrow-left: angle-left;
	$icon-arrow-right: angle-right;
	$icon-arrow-down: angle-down;
	$icon-arrow-up: angle-up;
	$icon-check: close-thin;
	$icon-close: close-thin;
	$icon-minus: minus-thin;
	$icon-plus: plus-thin;
	$icon-filter: filter;
	$icon-sort: sort;

//// MISCELLANEOUS
//// --------------------------------------------------------------------------
//// Extra settings for theme.

	$miscellaneous-border-radius: false; // border-radius for checkboxes, grid, dropdowns, etc.